/* Fonts- 
Ce n'est pas la version légale mais je compte l'acheter lorsque je vais le mettre en ligne */

@font-face {
    font-family: 'right_groteskbold';
    src: url('fonts/rightgrotesk-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_groteskregular';
    src: url('fonts/rightgrotesk-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_grotesktall_medium';
    src: url('fonts/rightgrotesk-tallmedium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_grotesktight_medium';
    src: url('fonts/rightgrotesk-tightmedium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_grotesktight_regular';
    src: url('fonts/rightgrotesk-tightregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_groteskwide_dark';
    src: url('fonts/rightgrotesk-widedark-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_groteskwide_medium';
    src: url('fonts/rightgrotesk-widemedium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'right_groteskwide_regular';
    src: url('fonts/rightgrotesk-wideregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}




body {	
    font-family: 'right_groteskregular';
    background: rgb(138,215,233);
	background: linear-gradient(to bottom, #DDEFBB, #FFEEEE , rgba(255, 243, 243, 0.112));
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -10;
	background: linear-gradient(to right bottom, rgba(255,255,255,0.2), #DDEFBB 75%);
}






main {
    margin-top: 10vh;
}

.thickline {
    height: 1vw;
    background-color: #212529;
    position: relative;
    z-index: -2;
}


.thinline {
    height: 0.25rem;
    background-color: black;
    position: relative;
}

/* Utilitaires */
.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
}



.spaceafter {
    margin-bottom: 1.5rem !important;
}

.spacebefore {
    margin-top: 1.5rem !important;
}

.padbefore-large {
    padding-top: 10rem;
}

.spaceafter-sm {
    margin-bottom: 0.5rem;
}

.spaceafter-large {

    margin-bottom: 8rem !important;

}

.spacebefore-large {

    margin-top: 8rem !important;

}

.milieu{
    margin: 3rem auto;
    max-width:  43rem;
}


.milieu--cta {
    display: flex;
    justify-content: center;
}
.flex__column{
    flex-direction: column;
}

/* Reset */
ul {
    padding-left: 0;
    margin-bottom: 0;
}




/* Navigation */

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);

}

/* .nav{


} */


.logo {
    height: 3rem;
}

.logo-span {
    height: auto;
    width: 14vw;
    margin-bottom: 6rem;
    left: 75%;
    top: 3%;
    position: absolute;
    z-index: -1;
}
.phone-span{
    height: auto;
    width: 50%;
    /* width: 20rem; */
    left: 35%;
    top: 10%;
    position: absolute;
    z-index: 1;

}

.pen-span{
    height: auto;
    width: 50%;
    /* width: 20rem; */
    left: 35%;
    top: 10%;
    position: absolute;
    z-index: 1;

}



/* J'ai essaye tant bien que mal de mettre la commande ml-auto (margin left auto) de bootstrap dans le html, sans succes */
.mleft {
    margin-left: auto;
}

.override-rightpadding {
    padding-right: 0 !important;
}

.nostyle {
    text-decoration: none;
    color: black;

}

.nostyle:hover{
    text-decoration: underline;
    color: inherit;
}

.blanc {
    color: white;
}

.textalign_center{
    text-align: center;
}




#menu > li > a {
    font-family: 'right_groteskwide_regular';
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 13px;
    margin-left: 4vw;
    
}

#menu > li > a:hover{
        font-family: 'right_groteskwide_medium';
        letter-spacing: 1.2px;
}



/* Headings & Texts */

.hero {
    font-family: 'right_grotesktight_medium';
    font-size: 12vh;
    line-height: 75%;
    text-transform: uppercase;
    /* text-align: center; */

}

.h1 {
    font-family: 'right_grotesktight_medium';
    font-size: 4.5rem !important;
    text-transform: uppercase;
    line-height: 3.8rem;
}

.h2 {
    font-family: 'right_groteskwide_dark';
    font-size: 1.75rem;
    line-height: 110%;


}

.h3{
    font-family: 'right_groteskwide_dark';
    font-size: 1.5rem;
    line-height: 112%;
    margin-bottom: 0;

}

.h4{
    font-family: 'right_groteskbold';
    font-size: 1.25rem;
    line-height: 120%;
    margin-bottom: 0;

    
}

.h5 {
    font-size: 1rem;
    line-height: 112%;

}

.h6 {
    font-family: 'right_groteskbold';
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0;
}

.bold {
    font-family: 'right_groteskbold';

}

.select_menu {
    font-family: 'right_groteskwide_medium';
    letter-spacing: 1.2px;

}


.Xlarge {
    font-size: 3.5vh;
    line-height: 4.2vh;
}

.large {
    font-size: 2vh;
    line-height: 2.7vh;
}



.precision {
    font-family: 'right_grotesktight_medium';
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0;
}

button {
    font-size: 1rem;
    text-align: center;
    color: white;
	padding: 1rem 2rem;
    background: black;
    border: 4px solid black;
    font-family: 'right_groteskwide_medium';
    transition: background 300ms ease,
                border-radius 300ms ease;

}

button:hover{
     border-radius: 1rem;
     background: rgb(18, 18, 18);




}



.button-ovale {

    border-radius: 80rem / 28rem;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1rem  3rem;
    background-color: black;
    border: none;

}


.cta {
    font-family: 'right_groteskwide_dark';
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: auto 0.5rem;
    text-align: center;
}

.black {
    font-family: 'right_groteskwide_dark';
}



.arrow_button-back {
    padding: 1.2rem;
    background-color: white;
    border-radius: 60px;
    border: solid 3px black;
    transform: rotate(90deg);
    position: absolute;
    top: 6rem;
    left: 1rem;
    z-index: -1;
}

.arrow_button {
    padding: 1.2rem;
    background-color: white;
    border-radius: 60px;
    border: solid 3px black;
    position: relative;
    width: 5rem;
    height: 5rem;
    transition: filter ease-out 200ms;


}

.arrow_button:hover {
    filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.15));
}

.arrow_button:active {
    filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.05));
}

.arrow_button--arrow {
    
    position: absolute;
    padding: 0.5rem;
    top: 22%;
    left: 16%;
    transition: top ease-out 200ms;

}

.arrow_button--arrow:hover {
    
    top: 10%

}






/* .button--secondaire{

} */




.gradient_bg {
    overflow: hidden;
    /* position: relative; */
    background: radial-gradient(50% 50% at 50% 50%, #DDEFBB 0%, #FFEEEE 47.92%, rgba(255, 238, 238, 0.81) 100%);}

.gradient_bg-vert {
    overflow: hidden;

    background: radial-gradient(70.12% 100% at 50% 50%, #DEDCED 0%, #eaffc2 52.08%, rgba(255, 255, 255, 0) 100%);
    }


.carte {
    border: 0.25rem solid black;
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);

}

.carte_border{
    border: 0.25rem solid black;
    background-color: rgba(255, 255, 255, 0.8);
}

.carte_categorie {
    border: 0.25rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.absolute{
    position: absolute;
}

.carte__animation {
    position: relative;
    box-sizing: border-box;
}



.carte_categorie-h1 {
    font-size: 6rem;
    margin-bottom: 0 !important;
    padding: 2rem 0;
    font-family: 'right_grotesktall_medium';
    text-transform: uppercase;
    line-height: 75%;
}

.carte> .h3 {
    height: 6rem;
}



/* .carte__content {
    max-width: 80%;
} */

.image {
    display: flex;
    justify-content: center;

}

.carte_img {

    width: 100%;
    object-fit: cover;
}

.carte_overflow{
    height: 30rem;
}


   .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 0.7fr auto;
    gap: 0.5rem 1rem;
    grid-template-areas:
      "titre titre"
      "image image"
      "contenu contenu";
  }
  
  .titre { grid-area: titre; }
  
  .image { grid-area: image; }
  
  .contenu { grid-area: contenu; }



  
.flex_space-between {
    display: flex;
    justify-content: space-between;
}

.flex_end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.flex_align_items-center {
    align-items: center;
}

.small_margin_right {
    margin-right: 1rem;
}

.small_margin_left {
    margin-left: 1rem;
}


.Logo_cv { 
    max-height: 4rem;     
}

/* ------ FORM --------- */

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.field {
    margin-top: 0.25rem;
    border: 1px solid black;
    padding: 1.25rem;
}                    

/* Articles */

.borders {
    border-bottom:0.25rem solid black ;
    border-top:0.25rem solid black ;


}



  
  

@media (min-width: 768px) {

  body {
      font-size: 16px;
  }  



.spaceafter {
    margin-bottom: 1rem !important;
}

.spacebefore {
    margin-top: 1rem !important;
}

.padbefore-large {
    padding-top: 5em;
}

.spaceafter-sm {
    margin-bottom: 0.5rem;
}

.spaceafter-large {

    margin-bottom: 8rem !important;

}

.spacebefore-large {

    margin-top: 4rem !important;

}



  .carte_categorie-h1  {
      font-size: 7vw;
  }

  .Xlarge {
    font-size: 3.5vw;
    line-height: 4.2vw;
}

.large {
    font-size: 2vw;
    line-height: 2.7vw;
}


.hero {
    font-size: 23vw;
}



  .contenu {
      padding-right: 3rem;
      display: flex; 
      flex-direction: column;
      justify-content: space-between;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    /* padding: 2.5rem; */
    grid-template-areas:
      "titre image"
      "contenu image";
  }
  
  .titre { grid-area: titre; }
  
  .image { grid-area: image; }
  
  .contenu { grid-area: contenu; }
  
}

.nouvelelement{
    position: absolute;
    animation: nouvelelement 1 ease 10s;
}

@keyframes nouvelelement {
    0%{
        left: 10%;
        top: 10%;
        color: red;
    }
    8%{
        left: 95%;
        top: 10%;


    }
    16%{
        top: 90%;
        left: 95%;

    }
    25%{
        top: 90%;
        left: 10%;


    }
    33%{
        left: 10%;
        top: 10%;

    }
    41%{
        left: 95%;
        top: 10%;

    }
    50%{
        top: 90%;
        left: 95%;

    }
    58%{
        top: 90%;
        left: 10%;

    }
    66%{
        left: 10%;
        top: 10%;


    }
    75%{
        left: 95%;
        top: 10%;

    }
    83%{
        top: 90%;
        left: 95%;

    }
    91%{
        top: 90%;
        left: 10%;


    }
    99%{
        left: 10%;
        top: 10%;
        opacity: 100%;
        transform: rotate(360deg);
    }
    100%{
        opacity: 0%;

    }

    


}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.523); 
    backdrop-filter: blur(20px);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #mail1 {
    animation: penduleMove 3s infinite alternate ease-in-out;
    transform-origin: 20px 20px;
    transform: scale(1.2);
    


  }

  @keyframes mailRotate {
      0%{transform: rotate(0deg);}
      50%{transform: rotate(180deg);}
      100%{transform: rotate(360deg);}
  }